<header>
  <div class="header-container">
    <img src="/images/foto-francisco (1).jpg" alt="Foto de Perfil" class="profile-pic">
    <h1><%= portfolio.name %></h1>
    <p><%= portfolio.title %></p>
  </div>
  <nav>
    <ul>
      <li><a href="/">Apresentação</a></li>
      <li><a href="/curriculum">Currículo</a></li>
      <li><a href="/projects">Projetos</a></li>
      <li><a href="/skills">Habilidades</a></li>
      <li><a href="/contact">Contato</a></li>
    </ul>
  </nav>
</header>